.btn-two {
    border: none;


    border-radius: 10px;
    padding-right: 20px;

}

.btn-two:hover {

    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px, 0 0 100px cyan,
        0 0 200px cyan;
}

.btn-one {
    /* background: rgba(255, 255, 255, 0.10); */

    color: white;

}

.btn-one:hover {
    background: linear-gradient(90deg, #08ff08, #50e3fc, #bc13fc, #03a9f4, #0ff0fc);
    background-size: 500%;
    z-index: 1;
    border: none;
    animation: blink 7s linear infinite;

}

@keyframes blink {
    from {
        background-position: 0%;

    }

    to {
        background-position: 500%;

    }

}

.btn-one::after {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -10px;
    right: -10px;
    top: -10px;
    background: inherit;
    border-radius: 40px;
    filter: blur(50px);
    z-index: 0;

}

.btn-one:hover::after {
    opacity: 1;
    z-index: 1;

}